body {
	background: #224b69;
	font-family: "Poppins", sans-serif;
}

.title {
	color: #fff;
}

.error-message {
	color: #db0429;
}

.search {
	width: 100%;
	position: relative;
	display: flex;
	margin-bottom: 1rem;
}

.label {
	color: #fff;
	display: inline;
}

.search-term {
	width: 100%;
	border: 1px solid grey;
	padding: 5px;
	height: 40px;
	border-radius: 5px;
	outline: none;
	color: black;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
}

.search-button {
	width: 100%;
	height: 50px;
	border: transparent;
	background: #0494db;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-family: "Poppins", sans-serif;
	outline: none;
}

.search-button:hover {
	background: #00bc72;
}

.wrap {
	width: 45%;
	margin: 3rem auto;
}

@media only screen and (max-width: 1200px) {
	.wrap {
		width: 60%;
	}
}

@media only screen and (max-width: 900px) {
	.wrap {
		width: 80%;
	}
}

@media only screen and (max-width: 700px) {
	.wrap {
		width: 90%;
	}
}
